{% extends 'layout.twig' %}

{% block head %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}

    <header class="masthead">
        <div class="container">
            <div class="error-container">
                <div class="intro-text">
                    <span class="name">Mince alors, la page que vous demandez n'existe pas ... </span>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </header>

{% endblock %}