/* CUSTOM CSS */

.postLink {
    color: white !important;
}

.postLink:hover {
    text-decoration: none;
    color: #2C3E50 !important;
    transition-duration: 200ms;
}

#postList {
    margin-top: 100px;
}

.postDiv {
    margin-top: 100px;
}

#form {
    margin-top: 140px !important;
}

.descriptionText {
    margin-top: 40px;
    margin-bottom: 40px;
}

.error-container {
    margin-bottom: 160px !important;
    margin-top: 100px !important;
}

